name: pull_request_created
on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches:
      - 'master'
      - 'main'
    paths-ignore:
      - '**/**.md' ### Do not run the workflow if Markdown files changed.
      - '.github/workflows/*' ### Do not run the workflow if files under path: .github/workflows/* changed.

  workflow_call:
    inputs:
      GO_VERSION:
        required: true
        type: string
    secrets:
      SNYK_TOKEN:
        required: false
      GITGUARDIAN_API_KEY:
        required: false

jobs:
  test:
    permissions:
      pull-requests: write
    uses: .github/workflows/go-basic-tests.yaml
    with:
      GO_VERSION: 1.19
      RELEASE: "v0.0.${{ github.run_number }}"
    secrets: inherit